.vs

# Python (Arquivos compilados e cache)
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais (Virtualenvs)
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# IDEs e Editores de Código
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject

# Arquivos de Sistema Operacional (Windows/Mac)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db